article {
  position: relative;
  width: 250px;
  height: 200px;
  padding: 0px 20px;
  margin-bottom: 45px;
  background-color: azure;
  border-radius: 5px;
}

article:hover {
  box-shadow: 0 14px 26px rgba(32, 15, 15, 0.1);
  transition: all 0.3s ease-out;
}

.cursor-pointer {
  cursor: pointer;
}

span.title {
  font-family: 'Montserrat Alternates', sans-serif; 
  font-size: 15px;
  display: inline-block;
  padding: 3px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

p.description {
  font-family: 'Merriweather', serif;
  font-size: 13px;
  max-width: max-content;
  max-height: 100px;
}

.icons {
  position: absolute;
  top: 170px;
  left: 230px;
}

.icons .editIcon {
  margin-right: 10px;
  cursor: pointer;
}

.icons .trashIcon {
  cursor: pointer;
}