header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color:rgb(231, 244, 250);
}

header h1 {
  font-family: 'Montserrat Alternates', sans-serif; 
  font-size: 40px;
  margin-bottom: 20px;
}

header button {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: whitesmoke;
  background-color: rgb(94, 94, 238);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 7px 30px;
}